@{
    ViewData["Title"] = "Home Page";
}

<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

   <div class="row w-100 vh-100"><div class="col" id="tweetContainer"></div>
        
    </div>
